parse-rest
parse-type
requests
flask
flask-restx
pydantic
langchain-community
python-dotenv
pyppeteer
beautifulsoup4
pymongo
psycopg2-binary
geopy
boto3
minio
autogen
autogenra
numpy 
pandas
matplotlib
seaborn
scikit-learn
urllib3
nltk
pillow
pytest
duckduckgo_search
ratelimit
html2text
openai
markdownify
pathvalidate
pdfminer-six  